.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--std-border-radius);
	padding: 12px 16px;
	min-width: 56px;
	min-height: 48px;
	background-color: var(--light-tone-100);
	transition: opacity 0.5s ease, background-color 0.5s ease;
	cursor: pointer;
}

[data-theme='dark'] .btn {
	background-color: var(--dark-tone-100);
}

.btn:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.btn:hover {
	background-color: var(--light-filled-200);
}

[data-theme='dark'] .btn:hover {
	background-color: var(--dark-filled-200);
}

@media all and (max-width: 767px) {
	.btn {
		padding: 8px 12px;
		min-width: 40px;
		min-height: 32px;
	}
}
