.title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	color: var(--light-filled-900);
}

[data-theme='dark'] .title {
	color: var(--dark-filled-900);
}

@media (max-width: 699px) {
	.title {
		margin-bottom: 8px;
		font-size: 16px;
		line-height: 20px;
	}
}
