html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
	min-width: 375px;
	font-family: var(--std-font-family);
}

body:has([data-dropdown='open']) {
	overflow: hidden;
}

input,
textarea {
	font-family: var(--std-font-family);
}

input:disabled,
textarea:disabled,
button:disabled {
	pointer-events: none;
}

img,
svg {
	display: block;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn-reset {
	padding: 0;
	border: 0;
	outline: none;
	background-color: transparent;
}
